<div class="container-fluid">
    <div class="container">

        <div class="row">

            <div class="col-md-6">
                <form role="form">
                    <fieldset>
                        <div class="container">
                            <section id="content">
                                <form action="">
                                    <h2>Login </h2>

                                    <table cellspacing="10" class="login_table">
                                        <tr>
                                            <td><label for="inputEmail" class="form-label">Email</label></td>
                                            <td><input type="text" placeholder="Email" required="" id="email"/></td>
                                        </tr>
                                        <tr>
                                            <td><label for="inputPassword" class="form-label">Password</label></td>
                                            <td><input type="password" name="password" id="password"
                                                       class="form-control input-lg"
                                                       placeholder="Password"></td>
                                        </tr>
                                    </table>
                                    <button type="button" class="btn btn-primary">Submit</button>
                                </form>
                            </section>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="col-md-6">
                <!--                <form role="form" method="post" action="register.php">-->
                <fieldset>
                    <form>
                        <h2> Sign up</h2>
                        <table cellspacing="10" class="login_table">
                            <tr>
                                <td><label for="inputUserName" class="form-label">Username</label></td>
                                <td><input type="text" placeholder="Username" required="" id="name"/></td>
                            </tr>
                            <tr>
                                <td><label for="inputEmail" class="form-label">Email</label></td>
                                <td><input type="text" placeholder="Email" required="" id="email"/></td>
                            </tr>
                            <tr>
                                <td><label for="inputPassword" class="form-label">Password</label></td>
                                <td><input type="password" name="password" id="password"
                                           class="form-control input-lg"
                                           placeholder="Password"></td>
                            </tr>
                        </table>
                        <button type="button" class="btn btn-primary">Sign up</button>

                    </form>
                </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="./js/login.js"></script>
